body {
    margin: 400px 500px 400px 600px;
    background-color: rgb(233, 241, 241);
}
.container {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
button {
    background-color: rgb(227, 229, 230);
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 5px 1px 3px rgb(151, 147, 147);
    height: 80px;
    width: 80px;
    padding-top: 22px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: space-evenly;
}
img {
    height: 20px;
    width: 20px;
}
p {
    size-adjust: 10px;
    color: rgb(53, 20, 53);
}
p:hover {
    color: hotpink;
} 
button:hover {
    box-shadow: inset 5px 5px 10px rgb(204, 202, 202), white -3px -3px 10px ;
}
